@font-face {
  font-family: 'Ubuntu';
  src: url('./fonts/ubuntu-regular.woff2') format('woff2'),
       url('./fonts/ubuntu-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.project {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 30px;
}

.project-title {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(207, 207, 207);
}

.todo {
  display: flex;
  column-gap: 10px;
  align-items: flex-start;
  min-height: 50px;
  border-bottom: 1px solid rgb(207, 207, 207);
}

.title {
  flex-grow: 1;
  overflow-wrap: break-word;
}

.complete,
.delete {
  min-height: 20px;
  min-width: 20px;
  border-radius: 20px;
  outline: 0;
  border: 2px solid rgb(134, 129, 118);
  cursor: pointer;
  background-color: transparent;
}

.delete {
  position: relative;
}

.completed {
  background-color: red;
}

.strikethrough {
  text-decoration: line-through;
}

.add {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  text-align: left;
}

.add:hover {
  color: orange;
}